<div class="product-details-container flex flex-col lg:flex-row px-6 py-12 max-w-screen-xl mx-auto bg-white">
  <!-- Image Section -->
  <div class="image-section w-full lg:w-1/3 flex flex-col items-center">
    <div class="main-image relative w-full h-[60vh] overflow-hidden">
      <img
        [src]="product?.images?.[currentImageIndex]"
        alt="Product Image"
        class="w-full h-full object-cover rounded-2xl"
      />
    </div>
   
    <!-- Thumbnail Section -->
    <div class="thumbnails flex space-x-2 overflow-x-auto mt-4">
      <img
        *ngFor="let image of product?.images; let i = index"
        [src]="image"
        alt="Thumbnail"
        class="w-16 h-16 object-cover cursor-pointer border border-gray-300 hover:border-[#9415d8] rounded-lg"
        (click)="selectImage(i)"
      />
    </div>
     <!-- Add to Cart / Buy Now Section -->
     <div class="actions mt-4 flex justify-center space-x-4 w-full">
      <button (click)="addToCart(product)" class="bg-[#440069] text-white px-6 py-3 rounded-full w-full hover:bg-[#7a0cb5] transition-colors duration-300 hover:bg-gray-100">
        Add to Cart
      </button>
      <button class="bg-[#00694e] text-white px-6 py-3 rounded-full w-full hover:bg-[#7a0cb5] transition-colors duration-300 hover:bg-[#00b84b]" (click)="buyNow(product)">
        Buy Now
      </button>
    </div>
  </div>

  <!-- Details Section -->
  <div class="details-section w-full lg:w-2/3 px-4 lg:px-8 mt-8 lg:mt-0">
    <h1 class="text-3xl font-bold text-[#440069]  mb-4">{{ product?.itemName }}</h1>
    <p class="text-gray-900 mb-4">{{ product?.itemDescription }}</p>
    <p class="text-[#440069]  text-2xl font-semibold mb-8">₹{{ product?.pricePerUnit }}</p>
    <!-- Additional Details -->
    <div>
      <p class="text-gray-800">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
    
  <div class="reviews-section mt-8 overflow-hidden">

    <div class="reviews-slider flex space-x-4 animate-scroll">
      <div *ngFor="let review of reviews" class="review-card bg-white shadow-md rounded-2xl p-4 min-w-[250px]">
        <p class="text-gray-800 font-semibold">{{ review.user}}</p>
        <p class="text-gray-600 text-sm italic">"{{ review.comment }}"</p>
        <p class="text-yellow-500 text-lg">★★★★★</p>
      </div>
    </div>
  </div>
  </div>

</div>
