<!-- <form (ngSubmit)="onSignUp()">
  <input [(ngModel)]="username" placeholder="Username" name="username" required />
  <input [(ngModel)]="password" placeholder="Password" type="password" name="password" required />
  <button type="submit">Sign Up</button>
</form>
<form (ngSubmit)="login()">
  <input type="text" [(ngModel)]="username" name="username" placeholder="Username" />
  <input type="password" [(ngModel)]="password" name="password" placeholder="Password" />
  <button type="submit">Login</button>
</form> -->

<!-- <amplify-authenticator [loginMechanisms]="['email']" [formFields]="formFields" [signUpAttributes]="['name']">
  <ng-template
    amplifySlot="authenticated"
    let-user="user"
    let-signOut="signOut"
  >
    <h1>Welcome {{ user.username }}!</h1>
    <button (click)="signOut()">Sign Out</button>
  </ng-template>
</amplify-authenticator> -->