
<div class="row justify-content-center my-5">
      <div class="row">
        <div class="col d-grid">
          Email : <b>{{user.email}}</b>
        </div>
      </div>

      <!-- <div class="row" *appIsAuthorize="['Student']">
        <div class="col d-grid">
          Content for students
        </div>
      </div>


      <div class="row" *appIsAuthorize="['Teacher']">
        <div class="col d-grid">
          Content for teachers
        </div>
      </div>


      <div class="row" *appIsAuthorize="['Student','Teacher']">
        <div class="col d-grid">
          Content for students/teachers
        </div>
      </div> -->
      <div>
        <div class="row">
          <div class="col d-grid">
            <button type="button" (click)="signOut()" class="btn btn-sm btn-success">
              Sign out
            </button>
      </div>

    </div>

    </div>
  </div>
